[project]
	description = Generate SQL MERGE statements with Table data
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rob Boek (robboek)
[access "refs/for/refs/*"]
	read = group user/Rob Boek (robboek)
	push = group user/Rob Boek (robboek)
	label-Code-Review = -2..+2 group user/Rob Boek (robboek)
	label-Verified = -1..+1 group user/Rob Boek (robboek)
	rebase = group user/Rob Boek (robboek)
	removeReviewer = group user/Rob Boek (robboek)
	submit = group user/Rob Boek (robboek)
[access "refs/heads/*"]
	read = group user/Rob Boek (robboek)
	create = group user/Rob Boek (robboek)
	push = +force group user/Rob Boek (robboek)
	pushMerge = group user/Rob Boek (robboek)
[access "refs/tags/*"]
	push = +force group user/Rob Boek (robboek)
	pushTag = group user/Rob Boek (robboek)
	pushSignedTag = group user/Rob Boek (robboek)
